<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yawwa Business</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to our Product Launch Page</h1>
        <h2>Go to /signUp to register on the waiting list</h2>
        <h2>Go to /users to see the waiting list</h2>
      </div>
    </div>
  </body>
</html>
